@import "macchiato.css";

* {
  font-family: "FiraCode Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  /*font-size: 16px;*/
}

window#waybar {
  background-color: rgba(29, 31, 33, 0.855);
  border-radius: 7px;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
/*#pulseaudio:hover {*/
/*  background-color: @surface2;*/
/*}*/

#workspaces {
  padding: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  box-shadow: inset 0 -3px #ffffff;
}

/*#workspaces button.active {*/
/*  border: 1px solid @lavender;*/
/*}*/
/**/
#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#tray,
#custom-power,
#pulseaudio {
  padding: 0 5px;
}

/*
#pulseaudio {
  color: @maroon;
}

#network {
  color: @yellow;
}

#temperature {
  color: @sky;
}

#battery {
  color: @green;
}

#window {
  color: @rosewater;
}

#cpu {
  color: @sapphire;
}

#memory {
  color: @rosewater;
}

#battery.charging,
#battery.plugged {
color: @sapphire;
}
*/

#group-power .module {
  padding: 0 10px;
}

#custom-power {
  color: @red;
}

/*#group-tray,*/
/*#group-main-right {*/
/*  box-shadow: inset -3px 0 #ffffff;*/
/*}*/

/*#group-power,*/
/*.modules-right,*/
/*.modules-left,*/
/*.modules-center {*/
/*  background: shade(alpha(@base, 0.7), 1.25);*/
/*  border-radius: 15px;*/
/*}*/

.modules-right {
  padding: 0 10px;
}

/*.modules-left {*/
/*}*/

#custom-waybar-mpris {
  padding-left: 10px;
}

.modules-center {
  padding: 0 10px;
}


@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

tooltip {
  background-color: rgba(29, 31, 33, 0.7);
}


#pulseaudio.muted {
  color: @text;
}
